*~
build/
dist/
scarlink.egg-info/
*.ipynb_checkpoints
*__pycache__
ArchRLogs/
scarlink_conda.txt
*_bak.R
*_bak.py
scarlink/src/model_new.py	
scarlink/preprocessing/read_scanpy_test.py
scarlink/preprocessing/read_seurat_archr_bak*.R
scarlink/preprocessing/read_seurat_archr_downsampled.R