name: Build Docker Container

on:
  push:
    branches:
      - main
      - master 

jobs:

  build:

    runs-on: ubuntu-latest
    if: GitHub.ref == 'refs/heads/main'
    steps:
    - uses: actions/checkout@v2
    - name: Build the Docker image
      env:
        DOCKER_USER: ${{secrets.DOCKER_USER}}
        DOCKER_PASSWORD: ${{secrets.DOCKER_PASSWORD}}
      run: |
        docker login -u $DOCKER_USER -p $DOCKER_PASSWORD 
              
    - name: Build the Docker image

      run: docker build . --file dockerfile --tag mitrasneha/scarlink:latest
      
    - name: Docker Push
      run: docker push mitrasneha/scarlink:latest
      
